
body {
    font-family: arial,sans-serif;

}
/* 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    color: black;
    display: block;
    font-size: 13px;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
} */

.logo img {
    display: block;
    height: 92px;
    margin: auto;
    padding: 109px 0px 0px 0px;
    width: 272px;
}

.search_section {
    display: block;
    height: 200px;
    margin: 0px auto;
}

.search_section input {
    background: #fff;
    background-image: url('img/googlemic_color_24dp.png');
    background-position: 420px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-sizing: border-box;
    display: block;
    height: 44px;
    outline: none;
    margin: 0 auto;
    padding: 5x 8px 0px 16px;
    width: 484px;
   
}

.search_section input:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

